@import "tailwindcss";

@theme {
    /* CORES SECUNDÁRIAS */
    --color-cold-white: #F1F1F1;
    --color-light-salmon: #FF8C69;
    --color-light-mint: #E1F4E7;
    --color-verde-agua: #87EFDD;
    --color-mint:  #00A184;
    --color-gray: #7E7E7E;
    --color-azul-petroleo: #07132A;
    --color-black: #000000;

    /* CORES PRIMÁRIAS */
    --color-azul-marinho: #1D4289;
    --color-gradient-azul: linear-gradient(0deg, rgba(27,66,137,1) 0%, rgba(7,19,42,1) 30%);
    --color-branco: #FFFFFF;

    /* FONTES */
    --font-bebasneue: "Bebas Neue", "sans-serif";
    --font-roboto: "Roboto", serif;

    /*ANIMAÇÃO*/
    --animate-slider: slider 50s linear infinite;
}

/*ANIMAÇÃO SLIDER*/
@keyframes slider {
    0%{
     transform: translateX(0);
    } 
    100%{
     transform: translateX(-100%);
    }
}

/*IMPEDIR ALTERAÇÃO DE CORES NO MODO DARK*/
@layer base {
    :root {
      color-scheme: light;
      background-color: white !important;
      color: black !important;
    }

    img, svg {
        filter: none !important;
        mix-blend-mode: normal !important;
    }

    * {
        forced-color-adjust: none !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}